<template>
  <div>
    <h1>Catálogo</h1>
    <div class="mt-5">
      <v-toolbar flat color="white">
        <!-- TAMAÑO DEL MODAL PARA AGREGAR PRODUCTO -->
        <v-dialog v-model="dialog" max-width="1000px">
          <v-btn slot="activator" color="primary" dark class="mb-2">Nuevo Producto</v-btn>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.nombre" label="Nombre del producto"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.sku" label="SKU"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.categoria" label="Categoria"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.scategoria" label="Subcategoría"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.precio" label="Precio"></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table :headers="headers" :items="desserts" class="elevation-10">
        <template slot="items" slot-scope="props">
          <td>{{ props.item.nombre }}</td>
          <td class="text-xs-left">{{ props.item.sku }}</td>
          <td class="text-xs-left">{{ props.item.categoria }}</td>
          <td class="text-xs-left">{{ props.item.scategoria }}</td>
          <td class="text-xs-left">${{ props.item.precio }}</td>
          <td class="justify-left layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="deleteItem(props.item)">delete</v-icon>
          </td>
        </template>
        <template slot="no-data">
          <v-alert :value="true" color="error" icon="warning">Sorry, nothing to display here :(</v-alert>
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    headers: [
      {
        text: "Nombre",
        align: "left",
        sortable: false,
        value: "nombre"
      },
      { text: "SKU", value: "sku", sortable: false },
      { text: "Categoria", value: "categoria", sortable: false },
      { text: "Subcategoria", value: "scategoria", sortable: false },
      { text: "Precio", value: "precio", sortable: false },
      { text: "acciones", value: "nombre", sortable: false }
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      nombre: "",
      sku: 0,
      categoria: "",
      scategoria: "",
      precio: 0
    },
    defaultItem: {
      nombre: "",
      sku: 0,
      categoria: "",
      scategoria: "",
      precio: 0
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Producto" : "Editar Producto";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },  
  },

  created() {
    this.initialize();
  },

  methods: {
    
    //   formatNumber(n) {
    //   n = String(n).replace(/\D/g, "");
    // this.editedItem.precio === "" ? n : Number(n).toLocaleString();
    //},
    initialize() {
      this.desserts = [
        {
          nombre: "Asador de pollos 195kg",
          sku: 23123,
          categoria: "Hornos",
          scategoria: "Asadores",
          precio: 19200
        }
      ];
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("¿Estás seguro de borrar el producto?") &&
        this.desserts.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
