<template>
  <v-app>
    <v-navigation-drawer
      value
      dark
      v-model="sideNav"
      clipped
      absolute
      overflow
      app
      class="blue-grey darken-3"
    >
      <v-list>
        <v-list-tile router to="/">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-title id="home">Home</v-list-tile-title>
        </v-list-tile>

        <v-list-group id="my-list" prepend-icon="account_circle" value="true">
          <v-list-tile slot="activator">
            <v-list-tile-title>Administración</v-list-tile-title>
          </v-list-tile>

          <v-list-group no-action sub-group value="true">
            <v-list-tile slot="activator">
              <v-list-tile-title>Admin</v-list-tile-title>
            </v-list-tile>

            <v-list-tile v-for="admin in admins" :key="admin.titulo" :to="admin.link">
              <v-list-tile-title>{{ admin.titulo }}</v-list-tile-title>
              <v-list-tile-action>
                <v-icon>{{ admin.icon }}</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>

          <v-list-group sub-group no-action value="true">
            <v-list-tile slot="activator">
              <v-list-tile-title>Productos</v-list-tile-title>
            </v-list-tile>

            <v-list-tile v-for="crud in cruds" :key="crud.titulo" :to="crud.link">
              <v-list-tile-title>{{ crud.titulo }}</v-list-tile-title>
              <v-list-tile-action>
                <v-icon>{{ crud.icon }}</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>

          <v-list-group sub-group no-action value="true">
            <v-list-tile slot="activator">
              <v-list-tile-title>Categorias</v-list-tile-title>
            </v-list-tile>

            <v-list-tile v-for="crud in categorias" :key="crud.titulo" :to="crud.link">
              <v-list-tile-title>{{ crud.titulo }}</v-list-tile-title>
              <v-list-tile-action>
                <v-icon>{{ crud.icon }}</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar clipped-left app absolute dark class="grey darken-4">
      <v-toolbar-side-icon @click.stop="sideNav = !sideNav" class="hidden-lg-and-up"></v-toolbar-side-icon>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        <router-link to="/" tag="span" style="cursor: pointer">Panel de Administración</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <v-container>
        <v-layout column justify-space-around align-space-around>
          <router-view></router-view>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "app",
  data: () => {
    return {
      admins: [
        { titulo: "Management", icon: "http" },
        { titulo: "Settings", icon: "settings" }
      ],
      cruds: [
        { titulo: "Catálogo", icon: "list", link: "/catalogo" },
        { titulo: "Papelera", icon: "restore_from_trash", link: "/papelera" }
      ],
      categorias: [
        { titulo: "Categoria", icon: "add" },
        { titulo: "Sub-Categoria", icon: "add" },
        { titulo: "Eliminar Categoria", icon: "delete" }
      ],
      sideNav: null
    };
  }
};
</script>

<style>
#my-list
  .v-list__group__header--active
  .v-list__group__header__prepend-icon
  .v-icon {
  color: red;
}
.v-list__tile--active .v-list__tile__title {
  color: white !important;
}
.v-list__tile--active {
  background-color: #004d40 !important;
  -webkit-box-shadow: inset 3px 3px 12px -1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 3px 3px 12px -1px rgba(0, 0, 0, 0.8);
  box-shadow: inset 3px 3px 12px -1px rgba(0, 0, 0, 0.8);
}
.v-list__tile--active #home {
  color: white !important;
}
</style>
